<%- include("partials/header"); -%>



<h1 class="heading">
  ABOUT US
</h1>
<h3>
    This is a website where you can write your blogs!!
</h3>
<br>
<br>
<br>
<h4>
    Welcome to your thoughts!
</h4>




<%- include("partials/footer"); -%>