<%- include("partials/header"); -%>

<form action="/posts" method="post">

<div class="container">
<h1> Add new articles here!! </h1>
<div class="form-group">
    <label for="title">Title</label>
    <input required type="text"id="title" class="form-control" name="title">

</div>
<div class="form-group">
    <label for="description">Description</label>
    <textarea id="description" class="form-control" name="description" cols=5 rows=5></textarea>

</div>

<a href="/" class="btn btn-secondary">Cancel</a>
<button type="submit" class="btn btn-primary">Save</button>

</div>


</form>


<%- include("partials/footer"); -%>